.timeline {
    padding: 0 !important;

    .MuiTimeline-root {
        min-height: 0px !important;
    }

    .MuiTimelineItem-root {
        min-height: 0px;
    }

    .MuiTimelineItem-missingOppositeContent::before {
        display: none !important;
    }

    .MuiTimelineConnector-root {
        background-color: #eee !important;
    }

    .timeline-firstItem {
        min-height: 80px !important;

        .timeline-header {
            padding-top: 7px !important;
        }

        .timeline-dot-header {
            color: black;
            background-color: var(--main-color);
            font-size: small !important;
            padding: 10px !important;
        }
    }

    .timeline-content {
        padding-top: 2px !important;
        margin-bottom: 20px !important;
        padding-right: 0;
    }

}

.separator-padding {
    padding-left: 20px !important;

    .timeline-dot {
        border: 3px solid;
        border-color: var(--main-color);
        padding: 2px !important;
    }
}